<strong> Seja Bem Vindo, {{ student }} </strong>
<p>Parabéns por ter se tornado aluno da GymPoint, confira seus dados abaixo:</p>
<p>
  <strong> Aluno:  </strong> {{ student }} <br />
  <strong> Matricula: </strong> {{ registration }} <br/>
  <strong> Plano: </strong> {{ plan }} <br />
  <strong> Data de termino </strong> {{ end_date }} <br />
  <strong> Valor pago: </strong> {{ price }},00R$

<br />
</p>
<small>Boms treinos!</small>
